body {
    align-self: center;
    float: none;
    background-color: #D9E8FB;
    margin: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}
#header {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(68, 167, 68); 
    border-radius: 25px; 
    text-align: center; 
    padding-bottom: 30px;
    box-shadow: 0 0 20px rgb(68, 167, 68);
}
#main-content {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(255, 255, 132); 
    border-radius: 25px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(255, 255, 132);
}
#wrapper {
    margin: 15px 0 15px 0;
    padding: 10px 25px 10px 10px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-gap: 10px;
}
#author {
    background-color: rgb(67, 67, 252); 
    float: right; 
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 5px blue;
}
h2 {
    color: rgb(7, 2, 80); 
    border-radius: 2px; 
}
a {
    padding: 5px; 
    margin: 5px;
    color: rgb(9, 255, 0);
}
.vcs {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.git {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.node {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.npm {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.html {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.css {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.img-git {
    float: left;
    margin: 3px;
}
.img-node {
    float: left;
    margin: 3px;
}
.img-html {
    float: left;
    margin: 3px;
}
.img-css {
    float: left;
    margin: 3px;
}