body {
    align-self: center;
    float: none;
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}
header {
    border-radius: 5px;
    border: 2px solid aqua;
    min-height: 64px;
    background: #20232A url(../images/favicon.ico) round;
}
.light header {
    border-radius: 5px;
    border: 2px solid aqua;
    min-height: 64px;
    background: rgba(128, 255, 251, 0.43) url(../images/unnamed.png) round;
}
.light {
    color: #20232ae3;
    background-color: rgba(128, 255, 251, 0.6);
    padding: 15px;
}
.dark {
    color: rgb(125, 167, 168);
    background-color: #20232ae3;
    padding: 15px;
}
.task {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(184, 248, 184); 
    border-radius: 10px; 
    text-align: center; 
    padding-bottom: 30px;
    box-shadow: 0 10px 20px rgb(143, 255, 143);
}
.main-content {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(255, 255, 132); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(255, 255, 132);
}
.wrapper {
    margin: 0 auto;
    padding: 10px 25px 10px 0;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-gap: 10px;
}

@media (max-width: 1200px){
    .wrapper{
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 760px){
    .wrapper{
        grid-template-columns: 100%;
    }
}

.author {
    background-color: rgba(0, 35, 75, 0.91);
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 60, 130, 0.91);
}
.light .author {
    background-color: rgba(255, 255, 0, 0.56);
}

h2 {
    color: #59D7FB; 
    border-radius: 2px; 
}
.solution {
    padding-left: 30px;
}
.dark a {
    padding: 5px; 
    margin: 5px;
    color: rgb(9, 255, 0);
}
.light a {
    padding: 5px;
    margin: 5px;
    color: rgb(51, 114, 48);
}
.vcs {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.git {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.node {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.npm {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.html {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.css {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.img-git {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-node {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-html {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-css {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}

.secondLesson {
    width: 100%;
    margin: 15px 0 15px 0;
    border: 2px solid rgb(255, 255, 132); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(237, 255, 132) ;
}

.lessonThree{
    width: 100%;
    margin: 15px 0 15px 0;
    border: 2px solid rgb(132, 226, 255); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(132, 226, 255) ;
}

.dark .myTable,.myAPITable {
    border:5px solid #ccc;
    padding: 5px;
    color: rgb(125, 167, 168);
  }
.dark .myTable,.myAPITable,.table thead,td,th {
    text-align: center;
    border:3px solid #ccc;
}
.light table,thead {
    border:3px solid rgba(0, 0, 0, 0.63);
    color: rgb(0, 0, 0);
}
.alert {
    color: red;
    font-size: 32px;
    text-align: center;
}
.selected {
    background-color: #28292c;
}
.over {
    background-color: rgba(255, 255, 255, 0.534);

}
.drag-end {
    background-color: #383B41;
}
.langLogo {
    width: 25px;
    height: 25px;
}
.themeSwitcher {
    max-height: 25px;
    max-width: 25px;
}
.dark .page-link {
    background-color: #383B41;
}
