body {
    align-self: center;
    float: none;
    background-color: #20232ae3;
    margin: 15px; 
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
    color: rgb(125, 167, 168);
}
header {
    border-radius: 5px;
    border: 2px solid aqua;
    min-height: 64px;
    background: url(../images/favicon.ico) round;
    background-color: #20232A;
}
.task {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(184, 248, 184); 
    border-radius: 10px; 
    text-align: center; 
    padding-bottom: 30px;
    box-shadow: 0 10px 20px rgb(143, 255, 143);
}
.main-content {
    margin: 15px 0 15px 0;
    border: 2px solid rgb(255, 255, 132); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(255, 255, 132);
}
.wrapper {
    margin: 0 auto;
    padding: 10px 25px 10px 0;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-gap: 10px;
}

@media (max-width: 1200px){
    .wrapper{
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 760px){
    .wrapper{
        grid-template-columns: 100%;
    }
}

.author {
    background-color: rgb(67, 67, 252); 
    float: right; 
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 5px blue;
}
h2 {
    color: #59D7FB; 
    border-radius: 2px; 
}
.solution {
    padding-left: 30px;
}
a {
    padding: 5px; 
    margin: 5px;
    color: rgb(9, 255, 0);
}
.vcs {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.git {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.node {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}

.npm {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.html {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.css {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
}
.img-git {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-node {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-html {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}
.img-css {
    width: 100%;
    max-width: 150px;
    float: left;
    margin: 3px;
}

.secondLesson {
    width: 100%;
    margin: 15px 0 15px 0;
    border: 2px solid rgb(255, 255, 132); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(237, 255, 132) ;
}

.lessonThree{
    width: 100%;
    margin: 15px 0 15px 0;
    border: 2px solid rgb(132, 226, 255); 
    border-radius: 10px; 
    padding: 15px 5px;
    box-shadow: 0 0 10px rgb(132, 226, 255) ;
}

.lessonThree td {
    border:5px solid #ccc;
    padding: 5px;
  }